    <!-- базовые настройки -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- заголовок страницы -->
    <title></title>
    <!-- подключение стиля -->
    <link rel="stylesheet" href="css/style.css">

    <!-- иконка -->
     <link rel="icon" href="icon.png">
     <!-- мета теги для SEO оптимазации -->
     <meta name="description" content="common, мистер fish, this a good plase.">
     <meta name="keywords" content="Фильмы, топ-25, Жанры">
     <meta name="author" content="Полевчук Каролина Александровна">

     <meta property="og:title" content="гребанный тазик">
     <meta property="og:description " content="common, мистер fish, this a good plase.">
     <meta property="og:image" content="assets/images/preview.png">

<!-- подключеник манифеста -->
     <link rel="manifest" href="manifest.json">
