<a class="header__link header__link--logo" href="/index.html">
    <img src="assets/images/coffee.svg" alt="">
    <span>Фильмы</span>
</a>
<a class="header__link" href="/index.html">
    <img src="/assets/images/calendar.svg" alt="">
    <span>Главная</span>
</a>
<a class="header__link" href="/top.html">
    <img src="/assets/images/film.svg" alt="">
    <span>Топ25</span>
</a>
<a class="header__link" href="/actors.html">
    <img src="/assets/images/heart.svg" alt="">
    <span>Актеры</span>
</a>

<button id="burger" class="header__burger">
</button>